TCPSimple/.vs/TCPSimple/CopilotIndices/17.14.1091.29919/CodeChunks.db
TCPSimple/.vs/TCPSimple/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
TCPSimple/.vs/TCPSimple/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
TCPSimple/.vs/TCPSimple/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
TCPSimple/.vs/TCPSimple/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
TCPSimple/.vs/TCPSimple/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
TCPSimple/.vs/TCPSimple/FileContentIndex/2c36e605-c3c1-4f64-8b0f-99bf4bc4b909.vsidx
TCPSimple/.vs/TCPSimple/FileContentIndex/2d29dbca-d082-4bbc-9f30-878e64cdd87c.vsidx
TCPSimple/.vs/TCPSimple/FileContentIndex/4c569e15-7d93-4f61-a33f-fdd9b1d81fc0.vsidx
TCPSimple/.vs/TCPSimple/FileContentIndex/77f4171e-cadc-48f9-b569-5d627df483e9.vsidx
TCPSimple/.vs/TCPSimple/FileContentIndex/cbad200e-2f2c-4e87-bfbe-4f737d3a8c2d.vsidx
SampleClient/bin/Debug/net6.0/Newtonsoft.Json.dll
SampleClient/bin/Debug/net6.0/SampleClient.deps.json
SampleClient/bin/Debug/net6.0/SampleClient.dll
SampleClient/bin/Debug/net6.0/SampleClient.exe
SampleClient/bin/Debug/net6.0/SampleClient.pdb
SampleClient/bin/Debug/net6.0/SampleClient.runtimeconfig.json
SampleClient/bin/Debug/net6.0/TCPSimple.dll
SampleClient/bin/Debug/net6.0/TCPSimple.pdb
SampleClient/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SampleClient/obj/Debug/net6.0/apphost.exe
SampleClient/obj/Debug/net6.0/SampleCl.DEFC0D26.Up2Date
SampleClient/obj/Debug/net6.0/SampleClient.AssemblyInfo.cs
SampleClient/obj/Debug/net6.0/SampleClient.AssemblyInfoInputs.cache
SampleClient/obj/Debug/net6.0/SampleClient.assets.cache
SampleClient/obj/Debug/net6.0/SampleClient.csproj.AssemblyReference.cache
SampleClient/obj/Debug/net6.0/SampleClient.csproj.BuildWithSkipAnalyzers
SampleClient/obj/Debug/net6.0/SampleClient.csproj.CoreCompileInputs.cache
SampleClient/obj/Debug/net6.0/SampleClient.csproj.FileListAbsolute.txt
SampleClient/obj/Debug/net6.0/SampleClient.dll
SampleClient/obj/Debug/net6.0/SampleClient.GeneratedMSBuildEditorConfig.editorconfig
SampleClient/obj/Debug/net6.0/SampleClient.genruntimeconfig.cache
SampleClient/obj/Debug/net6.0/SampleClient.GlobalUsings.g.cs
SampleClient/obj/Debug/net6.0/SampleClient.pdb
SampleClient/obj/Debug/net6.0/ref/SampleClient.dll
SampleClient/obj/Debug/net6.0/refint/SampleClient.dll
SampleClient/obj/project.assets.json
SampleClient/obj/project.nuget.cache
SampleClient/obj/SampleClient.csproj.nuget.dgspec.json
SampleClient/obj/SampleClient.csproj.nuget.g.props
SampleClient/obj/SampleClient.csproj.nuget.g.targets
SampleServer/bin/Debug/net6.0/SampleServer.deps.json
SampleServer/bin/Debug/net6.0/SampleServer.dll
SampleServer/bin/Debug/net6.0/SampleServer.exe
SampleServer/bin/Debug/net6.0/SampleServer.pdb
SampleServer/bin/Debug/net6.0/SampleServer.runtimeconfig.json
SampleServer/bin/Debug/net6.0/TCPSimple.dll
SampleServer/bin/Debug/net6.0/TCPSimple.pdb
SampleServer/obj/project.assets.json
SampleServer/obj/project.nuget.cache
SampleServer/obj/SampleServer.csproj.nuget.dgspec.json
SampleServer/obj/SampleServer.csproj.nuget.g.props
SampleServer/obj/SampleServer.csproj.nuget.g.targets
SampleServer/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SampleServer/obj/Debug/net6.0/apphost.exe
SampleServer/obj/Debug/net6.0/SampleSe.F65FAC5C.Up2Date
SampleServer/obj/Debug/net6.0/SampleServer.AssemblyInfo.cs
SampleServer/obj/Debug/net6.0/SampleServer.AssemblyInfoInputs.cache
SampleServer/obj/Debug/net6.0/SampleServer.assets.cache
SampleServer/obj/Debug/net6.0/SampleServer.csproj.AssemblyReference.cache
SampleServer/obj/Debug/net6.0/SampleServer.csproj.BuildWithSkipAnalyzers
SampleServer/obj/Debug/net6.0/SampleServer.csproj.CoreCompileInputs.cache
SampleServer/obj/Debug/net6.0/SampleServer.csproj.FileListAbsolute.txt
SampleServer/obj/Debug/net6.0/SampleServer.dll
SampleServer/obj/Debug/net6.0/SampleServer.GeneratedMSBuildEditorConfig.editorconfig
SampleServer/obj/Debug/net6.0/SampleServer.genruntimeconfig.cache
SampleServer/obj/Debug/net6.0/SampleServer.GlobalUsings.g.cs
SampleServer/obj/Debug/net6.0/SampleServer.pdb
SampleServer/obj/Debug/net6.0/ref/SampleServer.dll
SampleServer/obj/Debug/net6.0/refint/SampleServer.dll
TCPSimple/bin/Debug/net5.0/TCPSimple.deps.json
TCPSimple/bin/Debug/net5.0/TCPSimple.dll
TCPSimple/bin/Debug/net5.0/TCPSimple.pdb
TCPSimple/obj/project.assets.json
TCPSimple/obj/project.nuget.cache
TCPSimple/obj/TCPSimple.csproj.nuget.dgspec.json
TCPSimple/obj/TCPSimple.csproj.nuget.g.props
TCPSimple/obj/TCPSimple.csproj.nuget.g.targets
TCPSimple/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
TCPSimple/obj/Debug/net5.0/TCPSimple.AssemblyInfo.cs
TCPSimple/obj/Debug/net5.0/TCPSimple.AssemblyInfoInputs.cache
TCPSimple/obj/Debug/net5.0/TCPSimple.assets.cache
TCPSimple/obj/Debug/net5.0/TCPSimple.csproj.BuildWithSkipAnalyzers
TCPSimple/obj/Debug/net5.0/TCPSimple.csproj.CoreCompileInputs.cache
TCPSimple/obj/Debug/net5.0/TCPSimple.csproj.FileListAbsolute.txt
TCPSimple/obj/Debug/net5.0/TCPSimple.dll
TCPSimple/obj/Debug/net5.0/TCPSimple.GeneratedMSBuildEditorConfig.editorconfig
TCPSimple/obj/Debug/net5.0/TCPSimple.GlobalUsings.g.cs
TCPSimple/obj/Debug/net5.0/TCPSimple.pdb
TCPSimple/obj/Debug/net5.0/ref/TCPSimple.dll
TCPSimple/obj/Debug/net5.0/refint/TCPSimple.dll
TCPSimple/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
TCPSimple/obj/Debug/net6.0/TCPSimple.AssemblyInfo.cs
TCPSimple/obj/Debug/net6.0/TCPSimple.AssemblyInfoInputs.cache
TCPSimple/obj/Debug/net6.0/TCPSimple.assets.cache
TCPSimple/obj/Debug/net6.0/TCPSimple.GeneratedMSBuildEditorConfig.editorconfig
TCPSimple/obj/Debug/net6.0/TCPSimple.GlobalUsings.g.cs
